Timely action is one reason for the 14-day limit

**Proposal**
Watching the meeting, I saw some concern about quick action from the moderators without consulting the chairs. One reason the 14-day limit doesn't require public transparency is so that moderators and/or chairs can act quickly, but walk back a decision within a few days if there's been a mistake or there's an adjustment needed. That way someone doesn't called out, and then further called out by a public apology.

**Describe the solution you'd like**
My draft juxtaposed these concepts in 
[0-12](https://www.ietf.org/archive/id/draft-sayre-modpod-excellent-02.html#name-0-12-days)

I don't care about the day count. This draft has a more minimal policy (no escalation steps), and something like this will have to match the writing style in this document.

**Additional context**
I would expect the moderators to go with "I'm holding your messages for the chair to review" if there's something borderline. It's probably pretty easy to know what to do with really bad stuff.

@sayrer My understanding is quite different. Where I thought we settled was that one of the primary reasons for having a moderation team is to increase the chances of swift response when needed.  The issue people had was about the interaction between the Mod team and WG Chairs.  My suggestion, which I think the authors are going to explore, was to define what action the mod team can take when - i.e. to clear state that when rapid action is required, the mod team can do A and B (e.g. put the list into emergency moderation, or put individuals into temporary moderation)  but not C (e.g. block someone from posting altogether), without consulting the WG Chairs, and that when rapid action is *not* required, the mod team cannot act without WG Chair agreement, except D (e.g. when moderating someone across every list).

The central problem there is that the mod team cannot possibly monitor all lists 24x7 so the initial alert for a problem should come from a responsible person monitoring the list, and realistically that means a WG chair (or secretary, for WGs that appoint a secretary). Exactly how an incident is handled lies between the WG chairs and the mod team, assuming we don't plan to micromanage this via an RFC. 

One model might be for a WG chair to put somebody into moderation first, and call in the mod team second, but experience might suggest a different approach.

There's a corner case where the WG chairs ignore the problem and some other list member raises the alarm, and another corner case where one of the WG chairs _is_ the problem, but we can't expect to cover all corner cases in an RFC.

> [@sayrer](https://github.com/sayrer) My understanding is quite different. Where I thought we settled was that one of the primary reasons for having a moderation team is to increase the chances of swift response when needed.

Yes, that is also my understanding. The reason for the day count (14) is so that moderators (or chairs) can act quickly without creating yet more drama.

> The issue people had was about the interaction between the Mod team and WG Chairs.

Yep, #85 is about this one, which I agree is unsettled.

> My suggestion, which I think the authors are going to explore, was to define what action the mod team can take when - i.e. to clear state that when rapid action is required, the mod team can do A and B (e.g. put the list into emergency moderation, or put individuals into temporary moderation) but not C (e.g. block someone from posting altogether), without consulting the WG Chairs, and that when rapid action is _not_ required, the mod team cannot act without WG Chair agreement, except D (e.g. when moderating someone across every list).

I don't think this approach is meaningfully different from what I suggested. It makes some more precise rules, but I'm not sure to what end. Even if the moderators bounce someone's messages for a few days (C), the person can resend them if the chairs decide they are OK, and nothing will be public. 

@becarpenter 

> ...  the initial alert for a problem should come from a responsible person monitoring the list, and realistically that means a WG chair (or secretary, for WGs that appoint a secretary).

If the WG chairs could react this quick, we would not have an issue.  What I see is that it is other list members who alert people and it is when the WG chairs are not able to react quickly enough to those alerts that things can get bad quickly.

@JayDaley, this must vary between WGs; my experience is that WG chairs do jump on poor behaviour in a timely manner. If they don't, I agree that there needs to be a pathway directly to the mod team. But I wrote _should_ (a.k.a. __SHOULD__) because this pathway needs to be the exception, not the rule. Keeping order in the WG is a primary responsibility of every WG chair. "Moderate the WG email list" is a specific chair duty under section 6.1 of RFC 2418.

@becarpenter @JayDaley I opened the issue because I think any brief moderation action, if not made public, is not too harmful to the moderated participant. It doesn't inhibit contributions.

So, there's no reason to classify them the way Jay suggests. It does need to be transparent if it's ongoing (hence 14 days).

I'm not sure what is being proposed.

OK. In my view, the document needs to explain that the 14-day limit enables quick action. Let's take your proposed text in #114.

"Moderators may take actions against someone in a working group setting, but they MUST immediately inform management of relevant groups, including WG chairs and area directors, when they do so. The 14-day limit in Section 2.3 exists so that immediate action can be taken, but any disagreements between moderators and list management can be resolved within a few days without public debate."

I am not attached to the words, but that is the reason I put the time limit in my draft.

As long as the text makes it clear that moderating a WG list is _primarily_ the WG chairs' job, and that it's a _failure_ by the chairs if the moderator team has to intervene, then yes, +1 to @sayrer. Anything else simply doesn't scale and invites chairs to duck the hard problems.

@becarpenter It may not be a failure.  Consider the case when someone has a nutty across multiple lists, and the moderator shuts that person down...

Hi @elear. The editors could take the first part of @becarpenter's suggestion here

"As long as the text makes it clear that moderating a WG list is _primarily_ the WG chairs' job..."

without accepting the _failure_ part. It is a breadth vs depth situation, right? We'd expect the chairs to deal with trolls that deal with narrow topics, but there might also be people using LLMs to write things like "Thanks for your for your thoughtful comments on [WG subject matter], my solution involves Spam Jamma Pajamas".

Yes, "failure" is too strong. The case that matters is if the chairs don't act, for whatever reason. But we don't want the existence of the mod team to make chairs believe that they're off the hook.

I'll create a new PR for this.  A few points:

* The draft already states in the first sentence of the subsection that WG management is primary.
* The point might get lost in the muddled text that then follows.
* I can add some text around why the 14 day period.

I think you want to edit that PR to say "Address issue 113"

I think the list still doesn't understand this one, looking at the last few days:

https://mailarchive.ietf.org/arch/browse/static/mod-discuss/2025-03/

The idea behind keeping things private for a few days is to let someone decide quickly. But the WG seems wrapped around the axle on who can act at all. My point is that the chairs or moderators can do /anything/ for a few days, an it will not impede IETF contributions.

I don't think they're that wrapped.  I think two people just don't like the idea of moderators at all.

I think maybe the draft should say both in the Abstract and the first para of the Introduction something like:

_Primary responsibility for moderation lies with working group chairs, but sometimes this needs support from experienced colleagues._

That won't create agreement where it doesn't exist, but I think it will help in clarifying where the disagreement lies.